.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?




class="sign-form__phone"
              type="tel"
              placeholder="7 (___) ___ __ __"
              :class="$v.form.tel.$error ? 'error2' : ''"
              name="tel"
              v-model.trim="form.tel"